[Unit]
Description=Satellite, Monitoring and Healing for Mesos
Wants=mesos-slave.service

[Service]
ExecStart={{ satellite_install_dir }}/satellite-slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
